[Unit]
Description=Run Hospital Monitor every 30 minutes

[Timer]
# Runs at :00 and :05 of every hour
OnCalendar=*:0/05
Persistent=true

[Install]
WantedBy=timers.target
