[Unit]
Description=Eastern Health Hospital Wait Time Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi-zwapp
WorkingDirectory=/home/pi-zwapp/hospital-monitor/scripts
#ExecStart=/usr/bin/python3 /home/pi-zwapp/hospital-monitor/scripts/hospital_monitor.py
# Updated filename for the transformation step
ExecStart=/bin/sh -c '/usr/bin/python3 hospital_monitor.py && /usr/bin/python3 transform_split_1.py'
StandardOutput=journal
StandardError=journal
